.first-line {
    border-radius: 10px;
    height: 100%;
    min-height: 416px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#laptop-specs p {
    margin: 0;
}

h1 {
    margin: 0 0 36px;
}

.data-info {
    margin-top: 24px;
}

.second-line {
    border-radius: 10px;
    margin: 1.5em 0.08em;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.buy-now {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#laptop-price {
    font-size: 2em;
    font-weight: bold;
}

.buy-now .btn {
    width: 100%;
}

.hidden {
    display: none;
}

.repay-loan {
    display: none;
}